@import "tailwindcss";

@layer utilities {
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }

  @keyframes infinite-reverse-scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }

  .animate-infinite-scroll {
    animation: infinite-scroll 30s linear infinite;
  }

  .animate-infinite-reverse-scroll {
    animation: infinite-reverse-scroll 30s linear infinite;
  }
}
